<a href="https://colab.research.google.com/github/nallagondu/Data-assisgnment/blob/main/Regular_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 1**- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [ ]:
import re

In [ ]:
def rep_char(text):
    pattern = r'[ ,.]'

    replace_test = re.sub(pattern, ':', text)

    return replace_test

In [ ]:
  test_text = 'Python Exercises, PHP exercises.'

  output_text = rep_char(test_text)

  print(output_text)

**Question 2- ** Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [ ]:
import pandas as pd
import re

dataDirectory = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [ ]:
df = pd.DataFrame(dataDirectory)

In [ ]:

df['SUMMARY'] = df['SUMMARY'].apply(lambda x:re.sub(r'[^\w\s]|XXXXX','',x))
df